### Dependancies & Setup

In [180]:
# Declare dependencies
import pandas as pd
import numpy as np
import os

# Declare data source file 
source_file = os.path.join("Resources", "purchase_data.csv")

# Read source and store into pandas DF
pymoli_data = pd.read_csv(file_to_load)

### Player Count

* Display the total number of players

In [181]:
# Count total players by name in "SN" column
total_players = len(pymoli_df["SN"].value_counts())

# Create DF with all total players named player count
player_count = pd.DataFrame({"Total Players":[total_players]})
player_count

   Total Players
0            576

### Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [182]:
# Total unique items
total_unique_items = len((pymoli_data["Item ID"]).unique())

# Average cost of items
average_cost = (pymoli_data["Price"]).mean()

# Total purchases
total_purchases = (pymoli_data["Purchase ID"]).count()

#Total revenue
total_revenue = (pymoli_data["Price"]).sum()

# Create DF that includes these values
purchasing_analysis_df = pd.DataFrame({
    "Total Unique Items":[total_unique_items],
    "Average Cost":[average_cost], 
    "Total Purchases": [total_purchases], 
    "Total Revenue": [total_revenue]})

# Add currency formatting
purchasing_analysis_df.style.format({
    "Total Unique Items":"${:,.2f}",
    "Average Cost":"${:,.2f}",
    "Total Revenue":"${:,.2f}",
    "Total Revenue":"${:,.2f}"})

### Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [183]:
# Group Pymoli data by Gender to discover gender demographics
gender_stats = pymoli_data.groupby("Gender")
total_genders = gender_stats.nunique()["SN"]
gender_percentages = total_genders/total_players*100

# Create DF that includes these values
gender_demographics_df = pd.DataFrame({"Total Count": total_genders, "Percentage of Players": gender_percentages})

# Add formatting
gender_demographics_df.index.name = None
gender_demographics_df.sort_values(["Percentage of Players"], ascending = False)
gender_demographics_df = gender_demographics_df.round(2)
gender_demographics_df

                       Total Count  Percentage of Players
Female                          81                  14.06
Male                           484                  84.03
Other / Non-Disclosed           11                   1.91


### Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [184]:
# Count the total purchases by gender
total_items_purchased = gender_stats["Purchase ID"].count()

# Average purchase cost by gender
average_purchase_cost = gender_stats["Price"].mean()

# Average purchase total by gender 
average_purchase_total = gender_stats["Price"].sum()

# Find average purchase per player, by gender
average_purchase_per_player = average_purchase_total/total_genders

# Create DF that includes these values
gender_demographics_df = pd.DataFrame({
    "Total Items Purchased":total_items_purchased, 
    "Average Purchase Cost":average_purchase_cost,
    "Average Purchase Value":average_purchase_total,
    "Average Purchase Total per Player": average_purchase_per_player})

# Add formatting
gender_demographics_df.index.name = None
gender_demographics_df.style.format({
    "Average Purchase Cost":"${:,.2f}",
    "Average Purchase Value":"${:,.2f}",
    "Average Purchase Total per Player":"${:,.2f}"})

### Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [185]:
# Declare bins
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
bin_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Assign age values to new bins
pymoli_data["Age Group"] = pd.cut(pymoli_data["Age"],bins, labels=bin_labels)
pymoli_data

# Create DF that includes these values
age_grouped_df = pymoli_data.groupby("Age Group")

# Total players by age & percentages by age 
total_count_age = age_grouped_df["SN"].nunique()
percentage_by_age = (total_count_age/total_players)*100

# Create DF that includes these values
age_demographics_df = pd.DataFrame({"Percentage of Players": percentage_by_age, "Total Count": total_count_age})

# Add formatting 
age_demographics_df.index.name = None
age_demographics_df.style.format({"Percentage of Players":"{:,.2f}"})

### Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [186]:
# Total purchases by the age group
total_purchases_by_age = age_grouped_df["Purchase ID"].count()

# Average purchase cost by the age group
average_purchase_cost_by_age = age_grouped_df["Price"].mean()

# Total purchase value by the age group
total_purchase_value = age_grouped_df["Price"].sum()

# Average purchase per person by the age group
average_purchase_per_person_by_age = total_purchase_value/total_count_age

# Create DF that includes these values
age_demographics_df = pd.DataFrame({
    "Purchase Count": total_purchases_by_age,
    "Average Purchase Cost": average_purchase_cost_by_age,
    "Total Purchase Value":total_purchase_value,
     "Average Purchase Total per Person": average_purchase_per_person_by_age})

# Add formatting
age_demographics_df.index.name = None
age_demographics_df.style.format({
    "Average Purchase Cost":"${:,.2f}",
    "Total Purchase Value":"${:,.2f}",
    "Average Purchase Total per Person":"${:,.2f}"})

### Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [187]:
# Group purchase data by screen names gathered from "SN" column
spenders = pymoli_data.groupby("SN")

# Total purchases by player name
total_purchases_by_spender = spenders["Purchase ID"].count().round(2)

# Average purchase cost by player name 
avg_purchase_price_spender = spenders["Price"].mean().round(2)

# Purchase total by player name 
purchase_total_spender = spenders["Price"].sum().round(2)

# Create DF that includes these values
top_5_spenders_df = pd.DataFrame({
    "Total Purchases": total_purchases_by_spender,
    "Average Purchase Cost": avg_purchase_price_spender,
    "Total Purchase Value":purchase_total_spender})

# Add formatting
top_5_spenders_df = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head(5)
top_5_spenders_df.index.name = None
top_5_spenders_df.style.format({
    "Average Purchase Total":"${:,.2f}",
    "Average Purchase Cost":"${:,.2f}", 
    "Total Purchase Value":"${:,.2f}"})

### Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [188]:
# Group items by Item ID & Item Name
items_group = pymoli_data.groupby(["Item ID", "Item Name"])

# Total number of purchases for item
item_total_purchases = items_group["Price"].count().round(2)

# Purchase value per item
item_value = items_group["Price"].sum().round(2)

# Calculate cost per item
item_cost = item_value/item_total_purchases

# Create DF that includes these values
most_popular_items_df = pd.DataFrame({
    "Total Purchases":item_total_purchases,
    "Item Cost":item_cost,
    "Total Purchase Value":item_value})


# Sort in descending order to obtain top spender names and provide top 5 item names
most_popular_items_formatting = most_popular_items_df.sort_values(["Total Purchases"], ascending=False).head()

# Format with currency style
most_popular_items_formatting.style.format({
    "Item Cost":"${:,.2f}",
    "Total Purchase Value":"${:,.2f}"})

### Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [189]:
# Add extra formatting
most_profitable_items = most_popular_items_formatting.sort_values("Total Purchase Value", ascending=False)
most_profitable_items = most_popular_items_formatting.loc[:,["Total Purchases", "Item Cost", "Total Purchase Value"]]

most_profitable_items.head(5)

,,Total Purchases,Item Cost,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77